
        .landing {
            width: 100%;  
            height: 100vh;
            background: #FF7777;
            -webkit-font-smoothing: antialiased;
            display: flex;
            justify-content: center;
            align-items: center;
          }

     
          .landing--h1--span {
          
            top: 20px;
            display: inline-block;
            animation: bounce .5s ease infinite alternate;
            font-family: 'Titan One', cursive;
            font-size: 130px;
            color: #FFF;
            text-shadow: 0 1px 0 #CCC,
                         0 2px 0 #CCC,
                         0 3px 0 #CCC,
                         0 4px 0 #CCC,
                         0 5px 0 #CCC,
                         0 6px 0 transparent,
                         0 7px 0 transparent,
                         0 8px 0 transparent,
                         0 9px 0 transparent,
                         0 10px 10px rgba(0, 0, 0, .4);
          }
          .landing--h2--span {
            position: relative;
            top: 20px;
            display: inline-block;
            animation: bounce 3s ease infinite alternate;
            font-family: 'Titan One', cursive;
            font-size: 50px;
            color: #f8f8f8;
            text-shadow: 0 1px 0  #CCC,
                         0 2px 0 #CCC,
                         0 3px 0  #CCC,
                         0 4px 0  #CCC,
                         0 5px 0  #CCC,
                         0 6px 0 transparent,
                         0 7px 0 transparent,
                         0 8px 0 transparent,
                         0 9px 0 transparent,
                         0 10px 10px rgba(0, 0, 0, .4);
          }
          .landing--h2---span {
            position: relative;
            top: 20px;
            display: inline-block;
            animation: bounce 3s ease infinite alternate;
            font-family: 'Titan One', cursive;
            font-size: 50px;
            color: #f7e9fc;
            text-shadow: 0 1px 0  #cec2d3,
                         0 2px 0  #cec2d3,
                         0 3px 0  #cec2d3,
                         0 4px 0   #cec2d3,
                         0 5px 0  #cec2d3,
                         0 6px 0 transparent,
                         0 7px 0 transparent,
                         0 8px 0 transparent,
                         0 9px 0 transparent,
                         0 10px 10px rgba(0, 0, 0, .4);
          }
          
          .landing--h1--span:nth-child(2) { animation-delay: .1s; }
          .landing--h1--span:nth-child(3) { animation-delay: .2s; }
           .landing--h1--span:nth-child(4) { animation-delay: .3s; }
           .landing--h1--span:nth-child(5) { animation-delay: .4s; }
           .landing--h1--span:nth-child(6) { animation-delay: .5s; }
           .landing--h1--span:nth-child(7) { animation-delay: .6s; }
           .landing--h1--span:nth-child(8) { animation-delay: .7s; }

           .landing--h2--span:nth-child(2) { animation-delay: .1s; }
           .landing--h2--span:nth-child(3) { animation-delay: .2s; }
           .landing--h2--span:nth-child(4) { animation-delay: .3s; }
           .landing--h2--span:nth-child(5) { animation-delay: .4s; }
           .landing--h2--span:nth-child(6) { animation-delay: .5s; }
           .landing--h2--span:nth-child(7) { animation-delay: .6s; }
           .landing--h2--span:nth-child(8) { animation-delay: .7s; }
           .landing--h2--span:nth-child(9) { animation-delay: .8s; }
           .landing--h2--span:nth-child(10) { animation-delay: .9s; }
           .landing--h2--span:nth-child(11) { animation-delay: .10s; }
           .landing--h2--span:nth-child(12) { animation-delay: .11s; }
           .landing--h2--span:nth-child(13) { animation-delay: .12s; }
           .landing--h2--span:nth-child(14) { animation-delay: .13s; }
           .landing--h2--span:nth-child(15) { animation-delay: .14s; }
          @keyframes bounce {
            100% {
              top: -20px;
              text-shadow: 0 1px 0 #CCC,
                           0 2px 0 #CCC,
                           0 3px 0 #CCC,
                           0 4px 0 #CCC,
                           0 5px 0 #CCC,
                           0 6px 0 #CCC,
                           0 7px 0 #CCC,
                           0 8px 0 #CCC,
                           0 9px 0 #CCC,
                           0 50px 25px rgba(0, 0, 0, .2);
            }
          }



          