* {
  margin: 0;
  padding: 0;
}

/*메인컬러 백그라운드*/
.mainback {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#FFEBA2 60%,#79A78B 40%);
  overflow: hidden;
}


@font-face {
  font-family: 'MabinogiClassicR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
  font-weight: 900;
  font-size: large;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'MabinogiClassicR' !important;

}

.click:hover {

  background: #FEE299!important;
  

}

